@media screen and (max-width: 1920px){
	.fifth-block{
		.mbox{
			.headding{}
			.columns{
				.column{
					&:last-child{
					}
					.column-part{}
				}
			}
		}
	}
}
@media screen and (max-width: 1800px){
	.fifth-block{
			.mbox{
				.headding{}
				.columns{
					.column{
						&:last-child{width: calc(100% / 5);
						}
						.column-part{}
					}
				}
			}
		}
}
@media screen and (max-height: 769px){
	.first-block{
		.mbox{
			.heading{padding: 10px 0!important;}
			.improve-box{max-width: 370px;
				.calc{font-size: 110px;
					span{top: 40px;}
				}
				span{line-height: 80px;font-size: 22px;


				}
			}
			.green-button{ padding: 10px 0px!important;
				.button{/*max-width: 370px;*/

				}
			}
			.buttons_new{min-height: 200px;}
		}
	}

	.credit-history-fix-pro{
		.cover{padding: 50px;
			.mbox{
				.heading-part{
					
				}
				.historis{ padding: 40px 0px 0px 0px;
					.histori{
						&:nth-child(3){
							img{}
							.histori-text{}
						}
						img{ width:200px; height: 200px; 
							
						}
						.histori-text{ 
							
						}
					}
					.histori-arrow{
						img{ }
					}
				}
				.bottom-part{
					.bottom-heading{
						
					}
					.botom-button{
						
					}
				}
			}
		}
		
	}
	@media screen and (max-width: 1082px){
		.first-block{
			.mbox{
				.heading{
				}
				.green-button{
				}
				.buttons_new{width: 100%!important;
					.button_new{
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1600px){
	.first-block{
		.mbox{ padding-top: 10px;
			.heading{
				padding: 15px 0;
				font-size: 32px;
			}

			.green-button{
				padding: 15px 0;
			}
			.buttons_new{min-height: 0px;width: 100%; justify-content: space-around;
				.button_new{width: 260px;
					margin-bottom: 35px;
				}
			}
		}
	}
	.fifth-block{
		.mbox{
			.hedding{

			}
			.columns{
				.column{
					&:last-child{}
					.column-part{

					}
				}
			}
		}
	}
	
	.credit-history-fix-pro{
		.cover{
			.mbox{
				.heading-part{
					
				}
				.historis{
					.histori{
						&:nth-child(3){
							img{margin-bottom: 30px;}
							.histori-text{padding: 0px 30px 0px 30px; margin-top: 30px;}
						}
						img{max-width: 210px; max-height: 210px;
							
						}
						.histori-text{ padding: 0px 0px 0px 0px; 
							
						}
					}
					.histori-arrow{
						img{margin: 100px 0px; }
					}
				}
				.bottom-part{
					.bottom-heading{
						
					}
					.botom-button{
						
					}
				}
			}
		}
		
	}
}
@media screen and (max-width: 1366px){
	.credit-history-fix-pro{
		.cover{
			.mbox{
				.heading-part{
					
				}
				.historis{
					.histori{
						&:nth-child(3){
							img{margin-bottom: 20px;}
							.histori-text{padding: 0px 0px 0px 0px; margin-top: 30px;}
						}
						img{max-width: 210px; max-height: 210px;
							
						}
						.histori-text{ font-size: 13px;padding: 0px 5px 0px 5px; 
							
						}
					}
				}
				.bottom-part{
					.bottom-heading{letter-spacing: 0px; font-size: 14px; padding: 40px 50px; 
						
					}
					.botom-button{
						
					}
				}
			}
		}
		
	}
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
	.first-block{ min-height: auto;
		.mbox{
			.top-part{
				.telephone{font-size:22px; line-height: 40px;
				}

				img{width: 280px; height: 40px;}
				.telephone:hover{

				}
			}
			.green-button{ padding: 45px 40px;
				.button{ width: 300px;
					.button-signature{ font-size: 12px;

					}
				}
			}

			.heading{ padding: 65px 0;
				span{font-size: 30px; max-width: 560px;
				}
			}
			.improve-box{max-width: 300px; max-height: 300px;
				span{font-size: 20px; line-height: 80px;
				}
				span:nth-child(3){

				}
				.calc{font-size: 110px;
					span{font-size: 13px; left:60px;}
				}
			}

		}
	}

	.fifth-block{
		.mbox{
			.headding{top: 20px;
				h2{font-size: 24px;
				}

			}
			.columns{  min-height: 700px;
				.column{
					.column-part{
						.bottom-signature{font-size: 12px;
						}
						&:first-child{font-size: 48px;
						}
						img{ display: block; padding: 0 20px;
						}
					}
				}
			}
		}
	}

	.credit-history-fix-pro{
		.cover{
			.mbox{
				.heading-part{
					
				}
				.historis{
					.histori{
						img{max-width: 150px; max-height: 150px;
							
						}
						.histori-text{padding: 0px 0px 0px 0px;
							
						}
					}
					.histori-arrow{
						img{margin: 70px 0px; }
					}
				}
				.bottom-part{
					.bottom-heading{
						
					}
					.botom-button{
						
					}
				}
			}
		}
		
	}
}
@media screen and (max-width: 1020px){
	.fifth-block{
		.mbox{
			.headding{
				h2{
				}

			}
			.columns{  min-height: 700px;
				.column{ height: 900px;
					.column-part{
						.bottom-signature{
						}
						&:first-child{
						}
						&:last-child{

						}
						img{
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 992px){
	.first-block{
		.mbox{
			.top-part{

				.telephone{}
				.telephone:hover{}
			}
			.green-buttton{}
			.heading{
				span{ }
			}
			.improve-box{
				span{}
				span:nth-child(3){}
				.calc{
					span{}
				}
			}

		}
	}

	.fifth-block{
		.mbox{
			.headding{
				h2{
				}

			}
			.columns{ height: 484px; max-height: 100%;
				.column{ height: 100%;
					&:last-child{
					}
					.column-part{
						.bottom-signature{max-width: 100px;
						}
						&:first-child{
						}
						img{ }
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.first-block{
		.mbox{
			.top-part{

				.telephone{}
				.telephone:hover{}
			}
			.green-buttton{}
			.heading{
				span{}
			}
			.improve-box{
				span{}
				span:nth-child(3){}
				.calc{
					span{}
				}
			}

		}
	}
	
	.credit-history-fix-pro{max-height: auto; width: 100%;
		.cover{max-height: auto; padding: 20px;
			.mbox{max-height: auto;
				.heading-part{display: none;
					
				}
				.historis{flex-direction: column; align-items: center;  justify-content: center;  max-height: auto; 
					.histori{ width: 100%; padding: 30px 0px 30px 0px;
						&:nth-child(3){
							img{margin-bottom: 20px;}
							.histori-text{padding: 0px 40px 0px 40px; margin-top: 0px;}
						}
						img{max-width: 150px; max-height: 150px;
							
						}
						.histori-text{padding: 10px 40px 10px 40px;
							
						}
					}
					.histori-arrow{
						img{margin: 0px 0px; transform:rotate(90deg);
						}
					}
				}
				.bottom-part{
					.bottom-heading{
						
					}
					.botom-button{
						.green-button{ 
						.button{
							.button-signature{
								
							}
							.arrow{
								img{
									
								}
							}
						}	
					}
					}
				}
			}
		}
		
	}
}
@media screen and (max-width: 666px){
.first-block{ min-height: auto;
		.mbox{padding-top: 30px;

			.buttons_new{
				.button_new{width: 100%;margin-left:0;margin-right: 0;}
			}

			.top-part{

				.telephone{font-size: 20px; line-height: 30px;}
				.telephone:hover{}
				img{width: 220px; height: 30px;}
			}
			.green-button{ padding: 45px 0;padding-bottom: 80px;
				.button{width: 500px; border: 7px solid #007491;
					.button-signature{line-height: 70px; font-size: 16px;}
					.arrow{width: 70px;}
				}
			}
			.buttons_new{ width: 100%;
				.button_new{

				}
			}
			.heading{ padding: 50px 20px;
				span{}
			}
			.improve-box{max-height: 500px; max-width: 500px;
				span{font-size: 24px; line-height: 120px;
				}
				span:nth-child(3){
				}
				.calc{font-size: 180px; min-width: 100%; letter-spacing: -10px; text-align: center;
					span{font-size: 20px;top: 100px; left: 70px;
					}
				}
			}

		}
	}

	.fifth-block{
		.mbox{
			.headding{
				h2{font-size: 21px; top: 10px;}

			}
			.columns{height: auto; flex-direction: column;
				.column{ flex-direction: row; flex-wrap: wrap; padding-top: 30px; width: 100%;
					.column-part{  flex-direction: row; flex-wrap: wrap;  padding: 20px; width: auto;
						.bottom-signature{font-size: 18px; }

						&:first-child{font-size: 72px; }

						&:nth-child(2){width: 100%; order: 1;
							img{ }
						}
						&:last-child{}
					}
					&:last-child{width: 100%;}


				}
			}
		}
	}

}
@media screen and (max-width: 479px){
	.first-block{
		.mbox{
			.top-part{

				.telephone{font-size: 15px; line-height: 20px;}
				.telephone:hover{}
				img{width: 140px; height: 20px;}
			}
			.green-button{
				.button{
					.button-signature{font-size: 14px;}
					.arrow{}
				}
			}
			.heading{
				span{font-size: 20px;}
			}
			.improve-box{
				span{ line-height: 100px;
				}
				span:nth-child(3){}
				.calc{font-size: 160px; min-width: 100%; letter-spacing: -10px; text-align: center;
					span{font-size: 20px;top: 80px; left: 50px;
					}
				}
			}

		}
	}
	.fifth-block{
		.mbox{
			.headding{
				h2{font-size: 16px; top: 10px;}

			}
			.columns{
				.column{
					.column-part{
						.bottom-signature{ font-size: 16px; }

						&:first-child{ font-size: 46px;  }

						&:nth-child(2){
							img{ }
						}
						&:last-child{}
					}
					&:last-child{}


				}
			}
		}
	}

	.credit-history-fix-pro{
		.cover{padding: 30px;
			.mbox{
				.heading-part{
					
				}
				.historis{ 
					.histori{ 
						&:nth-child(3){
							img{}
							.histori-text{}
						}
						img{
							
						}
						.histori-text{
							
						}
					}
					.histori-arrow{
						img{
						}
					}
				}
				.bottom-part{
					.bottom-heading{font-size: 12px;
						
					}
					.botom-button{
						.green-button{ 
						.button{
							.button-signature{
								
							}
							.arrow{
								img{
									
								}
							}
						}	
					}
					}
				}
			}
		}
		
	}
}

@media screen and (max-width: 410px){
	.first-block{
		.mbox{
			.top-part{

				.telephone{font-size: 15px; line-height:20px;}
				.telephone:hover{}
				img{}
			}
			.green-button{
				.button{
					.button-signature{font-size: 10px;}
					.arrow{}
				}
			}
			.heading{
				span{font-size: 18px;}
			}
			.improve-box{
				span{ line-height: 100px;
				}
				span:nth-child(3){}
				.calc{font-size: 120px; min-width: 100%; letter-spacing: -10px; text-align: center;
					span{font-size: 16px;top: 50px; left: 30px;
					}
				}
			}

		}
	}
	.fifth-block{
		.mbox{
			.headding{
				h2{font-size: 11px; top: 10px;}

			}
			.columns{
				.column{
					.column-part{
						.bottom-signature{ font-size: 12px; }

						&:first-child{ font-size: 46px; padding: 10px;}

						&:nth-child(2){
							img{ }
						}
						&:last-child{padding: 10px;}
					}
					&:last-child{}


				}
			}
		}
	}

	.credit-history-fix-pro{
		.cover{
			.mbox{
				.heading-part{
					
				}
				.historis{ 
					.histori{ 
						&:nth-child(3){
							img{}
							.histori-text{}
						}
						img{
							
						}
						.histori-text{
							
						}
					}
					.histori-arrow{
						img{
						}
					}
				}
				.bottom-part{
					.bottom-heading{	
					}
					.botom-button{
						.green-button{ 
							.button{
								.button-signature{font-size: 10px;
									
								}
								.arrow{
									img{
										
									}
								}
							}	
						}
					}
				}
			}
		}	
	}
}
@media screen and (max-width: 320px){

}