@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

    /* acount-advantages-pro */

        .acount-advantages-pro {

            .title-text{font-size: 26px;top: -14px;}

            .content{
                .wrap{
                    .advantages-content{
                        .advantages-table{
                            .advantages-table-top{
                                .advantages-table-top-middle{width: 35%;}
                                .advantages-table-top-right{
                                    span{font-size: 26px;letter-spacing: 1px;}
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /acount-advantages-pro */

}
@media screen and (max-width: 1024px){

    /* fourth-block */

        .foruth-block{
            .mbox{
                .fourth-block-wrap{
                    .title{font-size: 24px;top:-11px;}
                }
            }
        }

    /* /fourth-block */

    /* acount-advantages-pro */

        .acount-advantages-pro{
            .content{
                .wrap{
                    .advantages-content{
                        .advantages-table{width: 50%;
                            &:last-child{border-width: 2px 2px 2px 0;}
                        }
                    }
                }
            }
        }

    /* /acount-advantages-pro */

}
@media screen and (max-width: 1023px){

    /* fourth-block */

        .foruth-block{padding:30px 0;
            .mbox{
                .fourth-block-wrap{background-image:url(/images/fourth-block-fone.png);background-repeat:repeat;background-size: auto;background-position: left top;width: calc(100% - 60px);height: 600px;}
            }
        }

    /* /fourth-block */

}
@media screen and (max-width: 992px){

    /* acount-advantages-pro */

        .acount-advantages-pro{padding:70px 50px;
            .title-text{font-size: 24px;line-height: 1.25;}
            .content{padding:65px 10px 25px;
                .wrap{
                    .advantages-content{flex-wrap:wrap;
                        .advantages-table{width: 100%;border-color:#fff;
                            &:last-child{border-width: 2px;
                                .advantages-table-title{color:#f7abac;}
                            }

                            .advantages-table-title{font-size: 18px;color:#a2efbe;
                                &:after{background-color: #fff;}
                            }
                            .advantages-table-top{flex-wrap:wrap;
                                .advantages-table-top-middle{order:1;width: 100%;text-align: center;padding-top: 10px;}
                            }
                            .advantages-table-main{
                                table{
                                    th, td{
                                        &:after{background-color: #fff;}
                                    }
                                    tr{border-color:#fff;}
                                }
                            }
                            .advantages-table-bottom{
                                table{
                                    tr{border-color:#fff;
                                        td{
                                            &:after{background-color:#fff;}
                                        }
                                    }
                                }
                            }
                        }

                        .advantages-mobile-button{display: flex;}

                    }
                    .advantages-button{display: none;}
                }
            }
        }

    /* /acount-advantages-pro */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

    /* acount-advantages-pro */

        .acount-advantages-pro{padding:50px 30px;}

    /* /acount-advantages-pro */

}
@media screen and (max-width: 639px){

    /* fourth-block */

        .foruth-block{
            .mbox{
                .fourth-block-wrap{width: calc(100% - 30px);height: 400px;
                    .title{font-size: 21px;top:-8px;}
                }
            }
        }

    /* /fourth-block */

}
@media screen and (max-width: 479px){

    /* fourth-block */

        .foruth-block{padding: 15px 0;
            .mbox{
                .fourth-block-wrap{height: 350px;
                    .title{font-size: 16px;top:-5px;}
                    .video-wrap{
                        .video-placeholder{
                            .video-button{width: 66px;height: 66px;border-width: 2px;
                                &:before{border-width: 13px 0 13px 26px;top:calc(50% - 13px);left:calc(50% - 13px);}
                                &:after{display: none;}
                            }
                        }
                    }
                }
            }
        }

    /* /fourth-block */

    /* acount-advantages-pro */

        .acount-advantages-pro{padding:40px 15px;
            .title-text{font-size: 12px;top:-8px;}
            .content{padding:35px 10px 25px;
                .wrap{
                    .advantages-descript{font-size: 9px;}
                    .wrap-subtitle{font-size: 9px;}
                    .advantages-content{
                        .advantages-table{
                            .advantages-table-title{font-size: 9px;}
                            .advantages-table-top{font-size: 9px;
                                .advantages-table-top-right{
                                    span{font-size: 16px;margin-right: 3px;}
                                }
                            }
                            .advantages-table-main{font-size: 9px;}
                            .advantages-table-bottom{font-size: 9px;
                                table{
                                    tr{
                                        td{
                                            &:last-child{width: 131px;}
                                        }
                                    }
                                }
                            }
                        }
                        .advantages-mobile-button{
                            .advantages-button-descript{font-size: 9px;}
                            .advantages-button-wrap{
                                .button{
                                    .button-signature{font-size: 9px;line-height: 41px;}
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /acount-advantages-pro */

}
@media screen and (max-width: 390px){

    // some fix
    .seventh-block .seventh-wrah .button-row .button .button-signature{line-height: 1.1;text-align: center;display: flex;align-items: center;justify-content: center;height: 40px;}

    .sixth-block .content .top-row .item-b .after-text{padding-left: 10px;}
    .sixth-block .content .top-row .item-b .after-text .shit{font-size: 13px;}
    .sixth-block .content .top-row .item-b .after-text .shit{letter-spacing: 2px;}
    .sixth-block .content .top-row .item-b .after-text p{font-size: 14px;}

}
@media screen and (max-width: 320px){

}