@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    .second-block{
        .info {
            .ttl { letter-spacing: 10px; padding-bottom: 33px; padding-top: 43px; }
        }
    }
}
@media screen and (max-width: 1180px){
    .second-block{
        .tabs{ font-size: 14px;
            span{ max-width:185px;}
        }
    }
}
@media screen and (max-width: 1024px){
    /*second*/
    .second-block{padding: 50px 35px 50px 50px;

        .left{width: 37%;border-left:6px solid #accfdc;border-top:6px solid #accfdc;}
        .right{ width: 63%; border:6px solid #accfdc; border-left:none; height: 670px;}
        .content{ background-image: none;}
        .tabs{border-bottom:6px solid #accfdc; height: 166px;
            &:after{ width: 6px;  height: calc(100% + 12px);top: -6px; right:0; }
            &:before{ background-size:cover; width: 50%; background-position: left top;height: 70%;}
            &.one:before,
            &.four:before{width: 50%; height: 70%;}
            p{ }
            span{ line-height: 18px;}
        }
        .button-more{  bottom: 14px; right: 18px;
            p { height: 51px;
                &:last-child { width: 51px; }
            }
            p:first-child{padding: 20px 30px 0;}
            a{  font-size:12px;}
        }
        .info-wrap{ padding: 0 30px;}
        .info{padding: 0  15px 0 45px;
            .ttl { letter-spacing: 10px; font-size:18px;}
            .txt{ font-size: 14px;line-height: 18px;
                .three-column{column-count: 1;column-gap: 0;}
            }
        }
    }
    /*END second*/
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}