@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1800px){

	.fifth-block{
		.mbox{
			.columns{
				.column{
					&:last-child{width: calc(100% / 5);}
				}
			}
		}
	}

}
@media screen and (max-height: 769px){
	.first-block{
		.mbox{
			.heading{padding: 15px 0!important;}
			.improve-box{max-width: 370px;
				.calc{font-size: 110px;
					span{top: 40px;}
				}
				span{line-height: 80px;font-size: 22px;}
			}
			.green-button{ padding: 10px 0px!important;}
			.buttons_new{min-height: 200px;}
		}
	}

	.credit-history-fix-pro{
		.cover{padding: 20px 50px;
			.mbox{

				.historis{ padding: 25px 0px 0px 0px;
					.histori{
						img{ width:200px; height: 200px;}
					}

				}

				.bottom-part{
					.bottom-heading{padding: 30px 50px 10px;}
				}

			}
		}

	}
	@media screen and (max-width: 1082px){

		.first-block{
			.mbox{

				.buttons_new{width: 100%!important;}
			}
		}

	}
}

@media screen and (max-width: 1600px){
	.first-block{
		.mbox{ padding-top: 10px;
			.heading{padding: 15px 0;font-size: 32px;}

			.green-button{padding: 15px 0;}
			.buttons_new{min-height: 0px;width: 100%; justify-content: space-around;
				.button_new{width: 260px;margin-bottom: 35px;}
			}
		}
	}

	.credit-history-fix-pro{
		.cover{
			.mbox{

				.historis{
					.histori{
						&:nth-child(3){
							.histori-text{padding: 0px 30px 0px 30px;}
						}
						img{max-width: 210px; max-height: 210px;}
						.histori-text{ padding: 0px 0px 0px 0px;}
					}
					.histori-arrow{
						img{margin: 100px 0px; }
					}
				}
			}
		}

	}
	.acount-advantages-pro .content .wrap {
		.advantages-content .advantages-table .advantages-table-bottom table caption{padding: 10px 0 10px 30px;
		}
		.advantages-descript{margin-bottom: 10px;}
	}

	.sixth-block{
		.conteiner{
			.central-part{ padding: 20px 0 0 0; 
				.info-container{ padding: 0 0 0 0;
				
					.heding{padding: 10px 0 10px;
						
					}
					.main-content{padding: 0px 10px 0 0;
						
					}
					.bottom-part{padding: 10px 0 20px 0;
						span{}
					}
				}
			}
			.lower-text{
				p{font-family: 'Ubuntu'; font-size: 18px; color: white; line-height: 1.5;}
			}
		}	
	}
	 
}
@media screen and (max-width: 1366px){

	.credit-history-fix-pro{
		.cover{
			.mbox{
				.historis{
					.histori{
						&:nth-child(3){
							.histori-text{padding: 0px 0px 0px 0px;}
						}
						img{max-width: 210px; max-height: 210px;}
						.histori-text{ font-size: 13px;padding: 0px 5px 0px 5px;}
					}
				}
				.bottom-part{
					.bottom-heading{letter-spacing: 0px; font-size: 14px; padding: 30px 50px 10px;}

				}
			}
		}
	}
	.acount-advantages-pro .content .wrap .advantages-content .advantages-table .advantages-table-bottom table caption{font-size: 20px;}
	
}
@media screen and (max-width: 1215px){
	.how-it-works {
		.item{width: 33%;width: 259px;max-height: 255px;
			.item-text{font-size: 12px; line-height: 1.5;
				
			}
		}
	 	.wrap{padding: 80px 20px; }
	}
}
@media screen and (max-width: 1024px){
	.first-block{ min-height: auto;
		.mbox{
			.top-part{
				.telephone{font-size:22px; line-height: 40px;}

				img{width: 280px; height: 40px;}
			}
			.green-button{ padding: 45px 40px;
				.button{ width: 300px;
					.button-signature{ font-size: 12px;}
				}
			}

			.heading{ padding: 65px 0;
				span{font-size: 30px; max-width: 560px;
				}
			}
			.improve-box{max-width: 300px; max-height: 300px;
				span{font-size: 20px; line-height: 80px;}

				.calc{font-size: 110px;
					span{font-size: 13px; left:60px;}
				}
			}

		}
	}

	.fifth-block{
		.mbox{
			.headding{top: 20px;
				h2{font-size: 24px;
				}

			}
			.columns{  min-height: 700px;
				.column{
					.column-part{
						.bottom-signature{font-size: 12px;
						}
						&:first-child{font-size: 48px;
						}
						img{ display: block; padding: 0 20px;
						}
					}
				}
			}
		}
	}

	.credit-history-fix-pro{
		.cover{
			.mbox{
				.historis{
					.histori{
						img{max-width: 150px; max-height: 150px;}
						.histori-text{padding: 0px 0px 0px 0px;}
					}
					.histori-arrow{
						img{margin: 70px 0px; }
					}
				}
			}
		}
	}

	.how-it-works .item{
		
	}
	.how-it-works{
		.item{height: 255px;}
	}
}
@media screen and (max-width: 1020px){

	.fifth-block{
		.mbox{
			.columns{  min-height: 700px;
				.column{ height: 900px;}
			}
		}
	}

}
@media screen and (max-width: 992px){

	.fifth-block{
		.mbox{
			.columns{ height: 484px; max-height: 100%;
				.column{ height: 100%;
					.column-part{
						.bottom-signature{max-width: 100px;}
					}
				}
			}
		}
	}
	
	.sixth-block{
		.conteiner{
			.central-part{ padding: 20px 0 0 0; flex-direction: column; 
				.info-container{ padding: 0 0 0 0;  width: 100%;
				
					.heding{padding: 10px 0 10px;
						
					}
					.main-content{padding: 0px 10px 0 0;
						
					}
					.bottom-part{padding: 10px 0 20px 0;
						span{}
					}
				}
			}
			.lower-text{
				p{font-family: 'Ubuntu'; font-size: 18px; color: white; line-height: 1.5;}
			}
		}	
	}
}
@media screen and (max-width: 767px){

	.credit-history-fix-pro{max-height: auto; width: 100%;
		.cover{max-height: auto; padding: 20px;
			.mbox{max-height: auto;
				.heading-part{display: none;}
				.historis{display: block;max-height: auto;
					.histori{ width: 100%;padding: 30px 0px 30px 0px;display: block;text-align: center;
						&:nth-child(3){
							.histori-text{padding: 0px 40px 0px 40px; margin-top: 0px;}
						}
						img{max-width: 150px; max-height: 150px;}
						.histori-text{padding: 0px 40px 10px 40px;text-align: left;}
					}
					.histori-arrow{display: block;
						img{margin: 0px 0px; transform:rotate(90deg);margin:0 auto;}
					}
				}
			}
		}

	}
	.how-it-works{
		.wrap{flex-direction: column; align-items: center;
			.item{margin-bottom :20px;
				.arrow-wrap{
					img{transform: rotate(90deg);}
				}
			}	
		}
	}

	.acount-advantages-pro .content .wrap .advantages-content .advantages-table .advantages-table-bottom table caption{font-size: 15px;}
}
@media screen and (max-width: 666px){
	.first-block{ min-height: auto;
		.mbox{padding: 30px 0px 10px 0px;

			.buttons_new{
				.button_new{width: 100%;margin-left:0;margin-right: 0;}
			}

			.top-part{

				.telephone{font-size: 20px; line-height: 30px;}
				img{width: 220px; height: 30px;}
			}
			.green-button{ padding: 45px 0;padding-bottom: 60px;
				.button{width: 500px; border: 7px solid #007491;
					.button-signature{line-height: 70px; font-size: 16px;}
					.arrow{width: 70px;}
				}
			}
			.buttons_new{ width: 100%;}
			.heading{ padding: 50px 20px;}
			.improve-box{max-height: 500px; max-width: 500px;
				span{font-size: 24px; line-height: 120px;}

				.calc{font-size: 180px; min-width: 100%; letter-spacing: -10px; text-align: center;
					span{font-size: 20px;top: 100px; left: 70px;}
				}
			}
		}
	}

	.fifth-block{
		.mbox{
			.headding{
				h2{font-size: 21px; top: 10px;}

			}
			.columns{height: auto; flex-direction: column;
				.column{ flex-direction: row; flex-wrap: wrap; padding-top: 30px; width: 100%;
					.column-part{  flex-direction: row; flex-wrap: wrap;  padding: 20px; width: auto;
						.bottom-signature{font-size: 18px; }

						&:first-child{font-size: 72px; }

						&:nth-child(2){width: 100%; order: 1;}
					}
					&:last-child{width: 100%;}


				}
			}
		}
	}

	.sixth-block{
		.conteiner{
			.central-part{ padding: 20px 0 0 0; flex-direction: column; 
				.info-container{ padding: 0 0 0 0;  width: 100%;
				
					.heding{padding: 10px 0 10px;
						
					}
					.main-content{padding: 0px 10px 0 0;
						
					}
					.bottom-part{padding: 10px 0 20px 0;
						span{}
					}
				}
			}
			.lower-text{
				p{font-family: 'Ubuntu'; font-size: 18px; color: white; line-height: 1.5;}
			}
		}	
	}

}
@media screen and (max-width: 479px){

	.first-block{
		.mbox{
			.top-part{

				.telephone{font-size: 15px; line-height: 20px;}
				img{width: 140px; height: 20px;}
			}
			.green-button{
				.button{
					.button-signature{font-size: 14px;}
				}
			}
			.heading{
				span{font-size: 20px;}
			}
			.improve-box{
				span{ line-height: 100px;}
				.calc{font-size: 160px; min-width: 100%; letter-spacing: -10px; text-align: center;
					span{font-size: 20px;top: 80px; left: 50px;}
				}
			}

		}
	}
	.fifth-block{
		.mbox{
			.headding{
				h2{font-size: 16px; top: 10px;}

			}
			.columns{
				.column{
					.column-part{
						.bottom-signature{ font-size: 16px; }

						&:first-child{ font-size: 46px;  }

						&:nth-child(2){
							img{ }
						}
						&:last-child{}
					}
					&:last-child{}


				}
			}
		}
	}

	.credit-history-fix-pro{
		.cover{padding: 30px 15px;
			.mbox{
				.bottom-part{
					.bottom-heading{font-size: 12px;}
					.bottom-button{
						.green-button{
							.button{
								.button-signature{font-size: 11px;}
							}
						}
					}
				}
			}
		}
	}

	.how-it-works{padding: 15px;
		.wrap{padding: 50px 20px; }
	}
	
	.sixth-block{
		.conteiner{
			.central-part{ 
				.info-container{ 
				
					.heding{font-size: 10px;
						
					}
					.main-content{font-size: 9px;
						
					}
					.bottom-part{font-size: 9px;
						span{font-size: 15px;}
					}
				}
			}
			.lower-text{
				p{font-size: 9px;}
			}
		}	
	}
}

@media screen and (max-width: 410px){
	.first-block{
		.mbox{
			.top-part{
				.telephone{font-size: 15px; line-height:20px;}
			}
			.green-button{
				.button{
					.button-signature{font-size: 10px;}
				}
			}
			.heading{
				span{font-size: 18px;}
			}
			.improve-box{
				span{ line-height: 100px;}
				.calc{font-size: 120px; min-width: 100%; letter-spacing: -10px; text-align: center;
					span{font-size: 16px;top: 50px; left: 30px;}
				}
			}

		}
	}
	.fifth-block{
		.mbox{
			.headding{
				h2{font-size: 11px; top: 10px;}

			}
			.columns{
				.column{
					.column-part{
						.bottom-signature{ font-size: 12px; }

						&:first-child{ font-size: 46px; padding: 10px;}

						&:last-child{padding: 10px;}
					}
				}
			}
		}
	}

	.credit-history-fix-pro{
		.cover{
			.mbox{
				.bottom-part{
					.botom-button{
						.green-button{
							.button{
								.button-signature{font-size: 10px;}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 320px){

}