<section class="acount-advantages-pro" id="acount-advantages-pro">
    <div class="mbox">
        <div class="content title-script-fix">
            <div class="title-text">
                <h2>сколько стоит улучшить кредитную историю</h2>
            </div>
            <div class="wrap">

                <div class="advantages-descript">

                    <div class="advantages-descript-button">
                        <span>подробнее</span>
                    </div>

                    <div class="advantages-descript-text">Компанией «ПРОГРЕССКАРД» разработана специальная программа по выдаче гарантированных займов для улучшения кредитной истории для людей, чья кредитная история относится к категории «очень плохой» - имеющих текущие активные просроченные задолженности, повышенную кредитную нагрузку и даже банкротство. Выбрав тариф “Успешный” Вы сможете улучшать кредитную историю и исправить обнаруженные нами  ошибки уже сегодня. </div>

                </div>

                <div class="wrap-subtitle">Программа улучшения кредитной истории рассчитана на 4 месяца*:</div>

                <div class="advantages-content">

                    <div class="advantages-table">

                        <div class="advantages-table-title">Тарифный план «Успешный» (с опцией <span>ПРО</span>)</div>

                        <div class="advantages-table-top">
                            <div class="advantages-table-top-left">
                                <p>Cтавка от <span class="green">0.95%</span> до <span class="green">0.75%</span> в день</p>
                            </div>
                            <div class="advantages-table-top-middle">
                                <img src="images/advantages-img-pro-2.png" alt="" />
                            </div>
                            <div class="advantages-table-top-right">
                                <p>цена:</p>
                                <p><span class="green">5 685</span>руб</p>
                            </div>
                        </div>

                        <!-- <div class="advantages-table-main">
                            <table>
                                <tr>
                                    <th>Займ, руб.</th>
                                    <th>Срок, дней</th>
                                    <th>Ставка, % в день</th>
                                    <th>Проценты по займу, руб.</th>
                                </tr>
                                <tr>
                                    <td>1000</td>
                                    <td>15</td>
                                    <td>0,95</td>
                                    <td>142,50</td>
                                </tr>
                                <tr>
                                    <td>1500</td>
                                    <td>15</td>
                                    <td>0,90</td>
                                    <td>202,50</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>15</td>
                                    <td>0,85</td>
                                    <td>225</td>
                                </tr>
                                <tr>
                                    <td>2500</td>
                                    <td>21</td>
                                    <td>0,80</td>
                                    <td>420</td>
                                </tr>
                                <tr>
                                    <td>3000</td>
                                    <td>30</td>
                                    <td>0,75</td>
                                    <td>675</td>
                                </tr>
                            </table>
                        </div> -->

                        <div class="advantages-table-bottom">
                            <table>
                                <caption>Что входит в стоимость:</caption>
                                <tr>
                                    <td> Расчет кредитного рейтинга</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Персональные консультации по кредитной истории</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Проценты по займам за три месяца</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Персональные рекомендации по улучшению КИ</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Гарантированная выдача первого займа 1500 р.</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Полный кредитный отчет из крупнейшего БКИ</td>
                                    <td class="red-background">-</td>
                                </tr>
                                <tr>
                                    <td>Справка из ЦККИ о том, где хранится кредитная история</td>
                                    <td class="red-background">-</td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <!-- show on mobile version -->
                        <div class="advantages-mobile-button">

                            <div class="advantages-button-descript"><b>*</b>(по статистике наших клиентов, среднее время улучшения кредитнойистории  3-4 месяца, при условии выполнения наших рекомендаций.Если результат будет достигнут раньше - Вы можете прекратить участие в программе)
                            </div>

                            <div class="advantages-button-wrap">
                                <a href="#" class="button">
                                    <div class="button-signature">активировать «PRO»</div>
                                    <div class="arrow">
                                        <img src="images/arr-foot.png" alt="" />
                                    </div>
                                </a>
                            </div>

                        </div>
                    <!-- /show on mobile version -->

                    <div class="advantages-table">

                        <div class="advantages-table-title">Тарифный план «Успешный» (с опцией <span>ПРО+</span>)</div>

                        <div class="advantages-table-top">
                            <div class="advantages-table-top-left">
                                <p>Cтавка от <span>0.85%</span> до <span>0.65%</span> в день</p>
                            </div>
                            <div class="advantages-table-top-middle">
                                <img src="images/advantages-img-other-2.png" alt="" />
                            </div>
                            <div class="advantages-table-top-right">
                                <p>цена:</p>
                                <p><span>7 260</span>руб</p>
                            </div>
                        </div>

                        <!-- <div class="advantages-table-main">
                            <table>
                                <tr>
                                    <th>Займ, руб.</th>
                                    <th>Срок, дней</th>
                                    <th>Ставка, % в день</th>
                                    <th>Проценты по займу, руб.</th>
                                </tr>
                                <tr>
                                    <td>1000</td>
                                    <td>15</td>
                                    <td>2,60</td>
                                    <td>390</td>
                                </tr>
                                <tr>
                                    <td>1500</td>
                                    <td>15</td>
                                    <td>2,40</td>
                                    <td>540</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>15</td>
                                    <td>2,20</td>
                                    <td>660</td>
                                </tr>
                                <tr>
                                    <td>2500</td>
                                    <td>21</td>
                                    <td>2,00</td>
                                    <td>1050</td>
                                </tr>
                                <tr>
                                    <td>3000</td>
                                    <td>30</td>
                                    <td>1,80</td>
                                    <td>1620</td>
                                </tr>
                            </table>
                        </div> -->

                        <div class="advantages-table-bottom">
                            <table>
                                <caption>Что входит в стоимость:</caption>
                                <tr>
                                    <td>Расчет кредитного рейтинга</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Персональные консультации по кредитной истории</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Проценты по займам за три месяца</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Персональные рекомендации по улучшению КИ</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Гарантированная выдача первого займа 2500 р.</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Полный кредитный отчет из крупнейшего БКИ</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                                <tr>
                                    <td>Справка из ЦККИ о том, где хранится кредитная история</td>
                                    <td class="green-background"><img src="images/tick.png"></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="advantages-button">

                    <div class="advantages-button-descript"><b>*</b>(по статистике наших клиентов, среднее время улучшения кредитнойистории  3-4 месяца, при условии выполнения наших рекомендаций.Если результат будет достигнут раньше - Вы можете прекратить участие в программе)</div>

                    <div class="advantages-button-wrap">
                        <a href="#" class="button">
                            <div class="button-signature">активировать «PRO»</div>
                            <div class="arrow">
                                <img src="images/arr-foot.png" alt="" />
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="acount-advantages-pro" id="acount-advantages-pro">
    <div class="mbox">
        <div class="content title-script-fix">
            <div class="title-text">
                <h2>ПРЕИМУЩЕСТВА АККАУНТА “PROГРЕСсИВНЫЙ”</h2>
            </div>
            <div class="wrap">

                <div class="advantages-descript">

                    <div class="advantages-descript-button">
                        <span>подробнее</span>
                    </div>

                    <div class="advantages-descript-text">Компанией ООО МФО «ПРОГРЕССКАРД» разработана специальная программа по выдаче гарантированных займов для улучшения кредитной истории для людей, чья кредитная история относится к категории «очень плохой» - имеющих текущие активные просроченные задолженности, повышенную кредитную нагрузку и даже банкротство. Выдача гарантированного займа возможна в тарифном плане «Успешный» при наличии статуса аккаунта «PRO».</div>

                </div>

                <div class="wrap-subtitle">Программа улучшения кредитной истории рассчитана на 3 месяца*</div>

                <div class="advantages-content">

                    <div class="advantages-table">

                        <div class="advantages-table-title">Тарифный план «Успешный» (PRO90)</div>

                        <div class="advantages-table-top">
                            <div class="advantages-table-top-left">
                                <p>Cтавка от <span class="green">0.95%</span> до <span class="green">0.75%</span> в день</p>
                            </div>
                            <div class="advantages-table-top-middle">
                                <img src="images/advantages-img-pro.png" alt="" />
                            </div>
                            <div class="advantages-table-top-right">
                                <p>цена:</p>
                                <p><span class="green">2 685</span>руб</p>
                            </div>
                        </div>

                        <div class="advantages-table-main">
                            <table>
                                <tr>
                                    <th>Займ, руб.</th>
                                    <th>Срок, дней</th>
                                    <th>Ставка, % в день</th>
                                    <th>Проценты по займу, руб.</th>
                                </tr>
                                <tr>
                                    <td>1000</td>
                                    <td>15</td>
                                    <td>0,95</td>
                                    <td>142,50</td>
                                </tr>
                                <tr>
                                    <td>1500</td>
                                    <td>15</td>
                                    <td>0,90</td>
                                    <td>202,50</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>15</td>
                                    <td>0,85</td>
                                    <td>225</td>
                                </tr>
                                <tr>
                                    <td>2500</td>
                                    <td>21</td>
                                    <td>0,80</td>
                                    <td>420</td>
                                </tr>
                                <tr>
                                    <td>3000</td>
                                    <td>30</td>
                                    <td>0,75</td>
                                    <td>675</td>
                                </tr>
                            </table>
                        </div>

                        <div class="advantages-table-bottom">
                            <table>
                                <tr>
                                    <td>Расчет кредитного рейтинга</td>
                                    <td class="green-background">0</td>
                                </tr>
                                <tr>
                                    <td>Персональные консультации по кредитной истории</td>
                                    <td class="green-background">0</td>
                                </tr>
                                <tr>
                                    <td>Cтоимость PRO на 90 дней</td>
                                    <td>990 руб.</td>
                                </tr>
                            </table>
                        </div>

                    </div> -->

                    <!-- show on mobile version -->
                        <!-- <div class="advantages-mobile-button">

                            <div class="advantages-button-descript">*(по статистике наших клиентов, среднее время улучшения кредитной истории - 3 месяца, при условии выполнения наших рекомендаций)</div>

                            <div class="advantages-button-wrap">
                                <a href="#" class="button">
                                    <div class="button-signature">активировать «PRO»</div>
                                    <div class="arrow">
                                        <img src="images/arr-foot.png" alt="" />
                                    </div>
                                </a>
                            </div>

                        </div> -->
                    <!-- /show on mobile version -->

                    <!-- <div class="advantages-table">

                        <div class="advantages-table-title">Другие предложения</div>

                        <div class="advantages-table-top">
                            <div class="advantages-table-top-left">
                                <p>Cтавка от <span>2.6%</span> до <span>1.80%</span> в день</p>
                            </div>
                            <div class="advantages-table-top-middle">
                                <img src="images/advantages-img-other.png" alt="" />
                            </div>
                            <div class="advantages-table-top-right">
                                <p>цена:</p>
                                <p><span>4 260</span>руб</p>
                            </div>
                        </div>

                        <div class="advantages-table-main">
                            <table>
                                <tr>
                                    <th>Займ, руб.</th>
                                    <th>Срок, дней</th>
                                    <th>Ставка, % в день</th>
                                    <th>Проценты по займу, руб.</th>
                                </tr>
                                <tr>
                                    <td>1000</td>
                                    <td>15</td>
                                    <td>2,60</td>
                                    <td>390</td>
                                </tr>
                                <tr>
                                    <td>1500</td>
                                    <td>15</td>
                                    <td>2,40</td>
                                    <td>540</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>15</td>
                                    <td>2,20</td>
                                    <td>660</td>
                                </tr>
                                <tr>
                                    <td>2500</td>
                                    <td>21</td>
                                    <td>2,00</td>
                                    <td>1050</td>
                                </tr>
                                <tr>
                                    <td>3000</td>
                                    <td>30</td>
                                    <td>1,80</td>
                                    <td>1620</td>
                                </tr>
                            </table>
                        </div>

                        <div class="advantages-table-bottom">
                            <table>
                                <tr>
                                    <td>Расчет кредитного рейтинга</td>
                                    <td class="gray-background">450 руб.</td>
                                </tr>
                                <tr>
                                    <td>Персональные консультации по кредитной истории</td>
                                    <td class="gray-background">2000 руб.</td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="advantages-button">

                    <div class="advantages-button-descript"><b>*</b>(по статистике наших клиентов, среднее время улучшения кредитной истории - 3 месяца, при условии выполнения наших рекомендаций)</div>

                    <div class="advantages-button-wrap">
                        <a href="#" class="button">
                            <div class="button-signature">активировать «PRO»</div>
                            <div class="arrow">
                                <img src="images/arr-foot.png" alt="" />
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->