<section class="credit-history-fix-pro" id="credit-history-fix-pro">
	<div class="cover">
	    <div class="mbox">
			<div class="heading-part">
				Исправление кредитной истории
			</div>
			<div class="historis">
				<div class="histori">
					<img src="../images/history-question-mark.png">
					<div class="histori-text">Хотите <sapn class="bold-text">исправить</sapn class="bold-text"> кредитную историю, но из-за наличия просрочек или банкротства Вам отказывают в кредитах и займах? Каждая заявка и отказ в кредите является негативным фактором в Вашей кредитной истории и отбрасывает Вас на шаг назад! 
					</div>
				</div>

				<div class="histori-arrow"><img src="../images/history-arrow.png"></div>
				
				<div class="histori">
					<img src="../images/hand-shake.png">
					<div class="histori-text">Перестаньте пытаться искать где <sapn class="bold-text">получить кредит - получите гарантированный</sapn class="bold-text"> займ для улучшения кредитной истории в компании <sapn class="bold-text">"ПРОГРЕССКАРД"</sapn class="bold-text">. Получая займы на исправление кредитной истории и погашая их в срок, Вы создаете положительные записи в своей кредитной истории. Чем больше таких <sapn class="bold-text">положительных записей</sapn class="bold-text"> у Вас будет, тем лучше.
					</div>
				</div>

				<div class="histori-arrow"><img src="../images/history-arrow.png"></div>

				<div class="histori">
					<img src="../images/history-diagram.png">
					<div class="histori-text">
						Постепенно, увеличивая количество положительных записей в своем кредитном досье, они начинают преобладать над негативными, тем самым показывая кредиторам, что Вы исправились и платежеспособны на данный момент. 
					</div>
				</div>
			</div>
			<div class="bottom-part">
				<div class="bottom-heading">
					Выдача гарантированного займа возможна при приобретении статуса аккаунта «PRO». 
				</div>
				<div class="bottom-button">
					<div class="green-button">
						<a href="" class="button">
							<div class="button-signature">улучшить кредитную историю</div>
							<div class="arrow"><img src="images/arr-foot.png"></div>
						</a>
					</div>
				</div>
			</div>
	    </div>
	</div>
</section>