<section class="fifth-block" id="fifth-block">
	<div class="mbox">
		<div class="headding">
			<h2>КАК СТАТЬ УЧАСТНИКОМ СЕРВИСА «ПРОГРЕССКАРД™</h2>
		</div>

		<div class="columns">
			<div class="column">
				<div class="column-part">
					<span>01</span>
				</div>
				<div class="column-part">
					<img src="images/registr-image.png"/>
				</div>
				<div class="column-part">
					
				</div>
			</div>
			<div class="column">
				<div class="column-part">
					<span>02</span>
				</div>
				<div class="column-part"><img src="images/man-avatar.png"/></div>
				<div class="column-part"></div>
			</div>
			<div class="column">
				<div class="column-part">
					<span>03</span>
				</div>
				<div class="column-part">
					<img src="images/program-choise-image.png"/>
				</div>
				<div class="column-part"></div>
			</div>
			<div class="column">
				<div class="column-part">
					<span>04</span>
				</div>
				<div class="column-part">
					<img src="images/ofert-choise-image.png">
				</div>
				<div class="column-part"></div>			
			</div>
			<div class="column">
				<div class="column-part">
					<span>05</span>
				</div>
				<div class="column-part">
					<img src="images/money-give-image.png"/>
				</div>
				<div class="column-part"></div>
			</div>
		</div>
	</div>
</section>