<section class="foruth-block">

    <div class="mbox">
        <div class="fourth-block-wrap">
            <h2 class="title">ВИДЕО О КРЕДИТНОЙ ИСТОРИИ</h2>
            <div class="video-wrap">
                <div class="video-placeholder">
                    <div class="video-button"></div>
                </div>
                <div class="video">
                    <div id="player"></div>
                    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/EwDP_bAb-OI?list=PLPltKsCTLqkxxwRUJGapnp3JzwYH8auSc" frameborder="0" allowfullscreen class="iframe-video"></iframe>-->
                </div>
            </div>
        </div>
    </div>

</section>