<section class="how-it-works">
	 <div class="content">
        <div class="title-text">
            <h2>
                КАК это работает
            </h2>
        </div>
        <div class="wrap">
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">получаете займ для
					улучшение кредитной
					истории. Мы сразу
					передаем об этом
					информацию в
					крупнейшие бюро
					кредитных историй</div>
                </div>
                <div class="arrow-wrap">
                	<img src="images/how-it-worcks-arrow.png">
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">мы проанализируем
						вашу кредитную
						историю и дадим
						персональные 
						рекомендации о
						необходимых шагах
						для ее улучшения</div>
                </div>
                <div class="arrow-wrap">
                	<img src="images/how-it-worcks-arrow.png">
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">вы выполняете
						рекомендации 
						и погашаете займ
						в срок. эти действия
						формируют
						положительную
						кредитную историю</div>
                </div>
                <div class="arrow-wrap">
                	<img src="images/how-it-worcks-arrow.png">
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">каждый раз получая
						новый займ, вы
						получаете расчет
						актуального 
						кредитного рейтинга
						и новый анализ КИ</div>
                </div>
                <div class="arrow-wrap">
                	<img src="images/how-it-worcks-arrow.png">
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">вы достигли
						положительного
						результата и можете
						получить кредит
						в любом банке.</div>
                </div>
                <div class="arrow-wrap">
                	<img src="images/how-it-worcks-arrow.png">
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Остались вопросы?
						<a href="./index-pro.html#target">Посмотрите видео</a>
						об улучшении 
						кредитной истории
						или <a href="mailto:otvet@progresscard.ru">задайте вопрос</a>
						нашему специалисту</div>
                </div>
                <div class="arrow-wrap">
                	<img src="images/how-it-worcks-arrow.png">
                </div>
            </div>
        </div>
    </div>
</section>