
<section class="second-block" id="second-block">
    <div class="content">
        <div class="left colums">
            <div class="tabs one active">
                <p><span>Что такое
                    кредитная история</span></p>
            </div>
            <div class="tabs two">
                <p><span>КАК УЗНАТЬ СВОЮ
                    КРЕДИТНУЮ ИСТОРИЮ</span></p>
            </div>
            <div class="tabs three">
                <p><span>КАК УЗНАТЬ СВОЮ
                    КРЕДИТНУЮ ИСТОРИЮ</span></p>
            </div>
            <div class="tabs four">
                <p><span>КАК «ПРОГРЕССКАРД™»
                    ПОМОГ Ужет УЛУЧШИТЬ
                    КРЕДИТНУЮ ИСТОРИЮ</span></p>
            </div>
        </div>
        <div class="right colums">
            <div class="button-more"><a href="#">
                <p>улучшить кредитную историю</p>
                <p><img src="images/arrow-second.png" alt="">    </p>
            </a></div>
        </div>
    </div>

</section>