
<section class="second-block" id="second-block">
    <div class="content cfix">
        <div class="left colums">
            <div class="tabs one active">
                <p><span>Что такое
                    кредитная история</span></p>
            </div>
            <div class="tabs two">
                <p><span>КАК УЗНАТЬ СВОЮ
                    КРЕДИТНУЮ ИСТОРИЮ</span></p>
            </div>
            <div class="tabs three">
                <p><span>КАК УЗНАТЬ СВОЮ
                    КРЕДИТНУЮ ИСТОРИЮ</span></p>
            </div>
            <div class="tabs four">
                <p><span>КАК «ПРОГРЕССКАРД™»
                    ПОМОГ Ужет УЛУЧШИТЬ
                    КРЕДИТНУЮ ИСТОРИЮ</span></p>
            </div>
            <div class="buttons-nav">
                <div class="prev butt"><img src="images/arrow-second.png" alt=""></div>
                <div class="next butt"><img src="images/arrow-second.png" alt=""></div>
            </div>
        </div>
        <div class="right colums">
            <div class="info-wrap">
                <div class="info active">
                    <div class="ttl">
                        <p>Как улучшить КРЕДИТНУЮ ИСТОРИЮ</p>
                    </div>
                    <div class="txt">
                        <span class="">
                             <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>

                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>
                            </span>




                    </div>
                </div>
                <div class="info">
                    <div class="ttl">
                        <p>Second</p>
                        <p>КРЕДИТНУЮ ИСТОРИЮ</p>
                    </div>
                    <div class="txt">
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>




                    </div>
                </div>
                <div class="info">
                    <div class="ttl">
                        <p>Third</p>
                        <p>КРЕДИТНУЮ ИСТОРИЮ</p>
                    </div>
                    <div class="txt">
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>




                    </div>
                </div>
                <div class="info">
                    <div class="ttl">
                        <p>LAST</p>
                        <p>КРЕДИТНУЮ ИСТОРИЮ</p>
                    </div>
                    <div class="txt">
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>
                        <p>Чтобы получить информацию о своей кредитной истории, физическому лицу сначала нужно узнать в каких бюро кредитных историй она хранится, направив для этого запрос в Центральный каталог кредитных историй, а затем уже обратиться в эти бюро кредитных историй для получения кредитной истории.</p>
                        <br>
                        <p>Получение кредитной истории один раз в год в каждом бюро кредитных историй, в котором она хранится, является бесплатным. За последующие (в течение года) обращения бюро кредитных историй вправе взимать плату.</p>
                        <br>
                        <p>Получить информацию из Центрального каталога кредитных историй можно обратившись:</p>
                        <br>
                        <p>через официальный сайт Банка России посредством заполнения формы запроса "Запрос на предоставление сведений о бюро кредитных историй", размещенной в разделе "Кредитные истории", с использованием кода (дополнительного кода) субъекта кредитной истории;</p>
                        <br>
                        <p>без использования кода (дополнительного кода) субъекта кредитной истории через кредитную организацию, бюро кредитных историй, отделение почтовой службы, оказывающее услуги телеграфной связи, нотариуса, микрофинансовую организацию или кредитный кооператив.</p>
                        <br>
                        <p>На территории Российской Федерации работает множество бюро кредитных историй, но существуют и крупнейшие БКИ:</p>
                        <br>
                        <p>Национальное бюро кредитных историй (НБКИ);</p>
                        <br>
                        <p>«Эквифакс Кредит Сервисиз»;</p>
                        <p>Объединенное кредитное бюро (ОКБ);</p>
                        <p>В этих кредитных бюро содержится информация о 95% заёмщиков в Российской Федерации и в большинстве случае достаточно запросить информацию в этих трех бюро для получения полноценной информации о Вашей кредитной истории.</p>




                    </div>
                </div>
            </div>
            <div class="button-more"><a href="#">
                <p>улучшить кредитную историю</p>
                <p><img src="images/arrow-second.png" alt="">    </p>
            </a></div>
        </div>
    </div>

</section>