
<section class="second-block" id="second-block">
    <div class="content">
        <div class="left colums">
            <div class="tabs one">
                <p></p>
            </div>
            <div class="tabs two">
                <p></p>
            </div>
            <div class="tabs three">
                <p></p>
            </div>
            <div class="tabs four">
                <p></p>
            </div>
        </div>
        <div class="right colums">

        </div>
    </div>

</section>