<section class="sixth-block">
    <div class="conteiner">
        <div class="content">
            <div class="title-text">как это работает</div>
            <div class="top-row">
                <div class="text">
                    <h5> Исправление и создание кредитной истории</h5>
                    <p>Мы поможем исправить Вашу кредитную историю за 5 шагов. Для этого мы выдаем Вам несколько займов на небольшие суммы и через три месяца Ваша кредитная история станет лучше и вы сможете получить кредит в любом банке.</p>
                </div>
                <div class="row-item cfix">
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr1.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr2.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr3.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr4.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr5.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="bot-row"></div>
        </div>
    </div>
</section>