<section class="sixth-block">
    
    <div class="conteiner">
        <div class="content">
            <div class="title-text">
                <h2>как это работает</h2>                    
            </div>
            <div class="top-row">
                <div class="text">
                    <h5> Исправление и создание кредитной истории</h5>
                    <p>Мы поможем исправить Вашу кредитную историю за 5 шагов. Для этого мы выдаем Вам несколько займов на небольшие суммы и через три месяца Ваша кредитная история станет лучше и вы сможете получить кредит в любом банке.</p>
                </div>
                <div class="row-item cfix">
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr1.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr2.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr3.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr4.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    <div class="item-b">
                        <div class="kvadr">
                            <img src="images/hr5.png" alt="">
                        </div>
                        <div class="after-text">
                            <div class="shit"> 1 займ </div>
                            <p>1000 руб. <br/> 15 дней</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="bot-row cfix">
                <div class="ite-bot ">
                    <div class="contein">
                        <div class="top">
                            <div class="ima">
                                <img src="images/bot-1.png" alt="">
                            </div>
                            <div class="head-text">
                                <h5>Мы помогаем создать положительную и исправить испорченную кредитную историю</h5>
                            </div>
                        </div>
                        <div class="bot">
                            <div class="texter">
                                <p>Сведения о получении и погашении Вами займа мы передаем в крупнейшие бюро кредитных историй. Ваша кредитная история наполняется положительной информацией, а Ваш кредитный рейтинг растет. Вы сможете сами контролировать процесс улучшения кредитной истории.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ite-bot">
                    <div class="contein">
                        <div class="top">
                            <div class="ima">
                                <img src="images/bot-2.png" alt="">
                            </div>
                            <div class="head-text">
                                <h5>Сервис помогает людям с испорченной кредитной историей или с ее отсутствием</h5>
                            </div>
                        </div>
                        <div class="bot">
                            <div class="texter">
                                <p>Мы предоставляем займы на выгодных условиях на длительный срок, для формирования положительной кредитной истории. После исправления кредитной истории Вы сможете расчитывать на получение кредита в любом банке на лучших условиях.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ite-bot">
                    <div class="contein">
                        <div class="top">
                            <div class="ima">
                                <img src="images/bot-3.png" alt="">
                            </div>
                            <div class="head-text">
                                <h5>Мы работаем на достижение положительного результата для Вас!</h5>
                            </div>
                        </div>
                        <div class="bot">
                            <div class="texter">
                                <p>Наши система проведет анализ Вашего кредитного досье и даст рекомендации поисправлению кредитной истории. Мы рассчитаем Ваш кредитный рейтинг и будем сообщать о его изменениях, пока Вы учавствуете в программе улучшения кредитной истории.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>