<section class="third-block" id="third-block">
    <div class="content">
        <div class="title-text">
            <h2>
                наши приемущества
            </h2>
        </div>
        <div class="wrap">
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Выдаем займы для улучшения кредитной истории дажеесли вам уже везде отказали. вы сможете начать создавать положительную кредитную историю</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Понятная и прозрачная система улучшения кредитной истории. Реальный результат в режиме онлайн</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Персональная программа и рекомендации по улучшению вашей кредитной истории</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">идеально для людей без кредитной истории или с испорченой кредитной историей </div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">консультации и юридическая поддержка по вопросам исправления кредитной истории</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Прозрачная система оплаты, никаких скрытых платежей, комиссий, пени и штрафов</div>
                </div>
            </div>
        </div>
    </div>
</section>