<section class="third-block" id="third-block">
    <div class="content">
        <div class="title-text">
            <h2>
                наши приемущества
            </h2>
        </div>
        <div class="wrap">
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Выдаем специальные займы для улучшения и исправления кредитной истории</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Никаких скрытых комиссий,пени, штрафов. Вы платите только процент по использованию займа</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Понятная и прозрачная система лучшения кредитнойистории. Реальный результат в режиме онлайн</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Идеально для людей без кредитной истории или с плохой кредитной историей</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Предоставляем актуальную информацию об изменении кредитного рейтинга онлайн</div>
                </div>
            </div>
            <div class="item">
                <div class="item-wrap">
                    <div class="item-text">Разработаны типовые программы и рекомендации по улучшению кредитной истории</div>
                </div>
            </div>
        </div>
    </div>
</section>