.button{display: block;border:3px solid #007491; text-decoration: none;max-width:395px; width: 100%;position: relative;
	.button-signature{ max-width: calc(100% - 56px); line-height: 54px; text-align: center ; color: #00576f;font-size: 14px; text-transform: uppercase; font-weight: bold;transition: all 0.5s;
	}
	&:hover .button-signature{background:#69cb9e}
	.arrow{height: 100%; width: 56px; background: #00cb74; border-left: 3px solid #007491;display: flex; align-items: center; position: absolute;top: 0; right: 0;justify-content: center;
	}
}

.first-block{width: 100%; background: url('../../images/first-block-layout.jpg') no-repeat; background-position: 50%;  background-size: cover;

	.mbox{padding:25px 0 0 0;display: flex; flex-wrap: wrap;justify-content: space-between;	max-width: 90%;
		.top-part{display: flex; justify-content: space-between; width:100%;flex-wrap: wrap;
			.telephone{display: block;font-size: 31px;color: #3ab0c4;line-height: 49px; vertical-align: middle;	font-weight: bold;
			}
			.telephone:hover{color: #00b51a;cursor:pointer}
		}
		.green-button{width: 100%; display: flex; justify-content: center; padding:50px 0 0 0;}

		//new buttons

		.buttons_new{width: 100%; margin: 0 auto; display: flex;flex-wrap: wrap;justify-content:space-between;align-items:center;min-height: 220px;
          	.button_new{width: 280px; max-width: 100%; border-width: 3px;border-color: rgb(28, 115, 143);border-style: solid;box-sizing: border-box;padding-left: 30px;position: relative;margin: 5px;
          		&:hover{background-color: rgba(111, 202, 121,0.529);
          			a{
          				.hover_el{
			              display: block;
			        	}
			        }
		        }

	          	a{text-decoration: none;font-size: 14px;color: #18505e;display: block;
	          		.content_btn{display: flex;height: 90px;flex-wrap: wrap;justify-content:space-between; align-items:center;
          				&>div{color: rgb(24, 80, 94);text-transform: uppercase;line-height: 1.286;font-weight: bold;
          				}
          			}
          			.hover_el{position: absolute;left: -3px;top: 100%;width: calc(100% + 6px);height: 32px;border-width: 3px;border-color: rgb(28, 115, 143);border-style: solid;box-sizing: border-box;border-top: none;text-align: center;line-height: 28px;display: none;
      					&:after{background-image: url('../../images/arrow.png');background-position: left center;background-repeat: no-repeat;content: '';display: block;position: absolute;right: 0px;top: 2px;height: 100%;width: 25px;
      					}
      				}
	          	}
          	}
        }

		//new buttons

		.heading{font-size: 48px;color: #008fb3;width:100%;display: flex; justify-content: center; padding: 50px 0 50px 0px;
			span{text-align: center;font-family: 'Ubuntu'; font-weight: bold;}
		}
		.improve-box{width: 100%; max-width: 400px; border: 10px solid #fff;display: flex; flex-wrap: wrap; margin: 0 auto;
			span{display: block; font-size: 24px; width: 100%; text-align: center;color: #007492; line-height:120px; vertical-align: middle;text-transform: uppercase;font-weight: bold; letter-spacing: 15px;}
			span:nth-child(3){letter-spacing: 5px; }
			.calc{font-size: 130px;color: #fff; position: relative; margin: 0 auto; font-weight: bold;letter-spacing: -5px;font-family: 'UniSans';
				span{font-size: 15px;display: block;position: absolute;color: #0f6374;position: absolute; top: 52px; left: 40px;font-weight: bold; letter-spacing: 0;font-family: 'Ubuntu'; font-weight: 500;letter-spacing: 0.5px;

				}
			}
		}
	}

	/* first-block-pro */

		&.top-block-pro{background:url(../../images/top-block-pro-layout.jpg) no-repeat; background-size:cover;}

	/* /first-block-pro */
}

.fifth-block{background: url('../../images/fifth-block-background.jpg') no-repeat; padding: 40px 30px;overflow: visible!important; background-size: cover;
	.mbox{ padding: 35px; height: 100%;
		.headding{position: absolute; z-index: 1!important; top: 15px;
			h2{color: #fff; font-size: 33px; font-weight: bold; z-index: 1;
			}

		}
		.columns{display: flex; max-width: 1795px; height: 100%;  width: 100%; background: url('../../images/fifth-block-columns-background.jpg') no-repeat;  z-index: 0;overflow: hidden; background-size: cover; margin: 0 auto;
			.column{display: flex; flex-direction: column; justify-content: space-around;  background: url('../../images/fifth-block-column-background.png'); opacity: 0.9; width: calc(100% / 5); height: 100%; background-size: cover; box-shadow: 5px 0 45px rgba(1, 42, 61, 1);
				.column-part{display: flex; justify-content: center; align-items: center; color: #f8f6f5; height: calc( 100% / 3 ); width: 100%; 
					.bottom-signature{ max-width: 160px; max-height: 70px; color:#f8f6f5; font-size: 18px; border-bottom: 3px solid #9ac0d4;  text-align: center; text-transform: uppercase; padding: 0 0 15px 0 ;	font-family: 'Ubuntu';
					}
				}
				.column-part:first-child{font-size: 72px; font-weight: bold; font-family: 'Kelson'; color: #9ac0d4;
				}
				.column-part:last-child{flex-direction: column;}
				.under-botom-signature{padding: 10px 0;}
			}

			.column:hover{cursor: pointer;
				.column-part:first-child{color: #fff;
				}

				.column-part{
					.bottom-signature{border-bottom: 3px solid #fff;

					}
				}
			}


		}
	}
}

.second-block{
	.right{
		.back-step{	left: 33px; width: 215px;
			a{
				&:last-child{
					img{transform: rotate(180deg); left: 40%; top: 40%;}
				}
			}
			p:first-child{border: 3px solid #fff;}
			p:last-child{ float: left;}
		}
	}
}

.credit-history-fix-pro{ background: url('../../images/credit-history-fix-pro-background.jpg') no-repeat; background-size: cover; font-family: 'Ubuntu';display: flex;align-items: center;
	.cover{padding: 40px 70px;
		.mbox{ background: url('../../images/history-mbox-background.png') no-repeat; background-size: cover; width: 100%; max-width: 1780px; display: flex; flex-direction: column; position: relative;padding: 0px 0px 0px 0px;   margin: 0;
			.heading-part{font-size: 33px; color: #fff; position: absolute; top: -20px; left: 30px;}
			.historis{display: flex; justify-content: center; padding: 60px 0px 0px 0px;
				.histori{display: flex; flex-wrap: wrap;flex-direction:column; justify-content: flex-start; width: 25%;  align-items: center;
					&:nth-child(3){
						.histori-text{padding: 0px 70px 0px 70px;}
					}
					img{ max-width: 300px; max-height: 300px;margin-bottom: 30px;

					}
					.histori-text{padding: 0px 70px 0px 70px; color: #fff;  font-size: 16px; line-height: 1.3; font-family: 'Ubuntu', sans-serif;
						.bold-text{font-weight: bold;}
					}
				}
				.histori-arrow{display: flex;
						img{display: block; margin: 150px 0px; max-height: 20px;}
					}
			}
			.bottom-part{width: 100%;
				.bottom-heading{width: 100%; text-align: center; color: #fff; font-size: 18px; padding: 40px 0px; text-transform: uppercase; letter-spacing: 3px;

				}
				.bottom-button{width: 100%; padding: 20px 10px 40px;
					.green-button{ margin: 0 auto;
						.button{margin: 0 auto; border: 3px solid #fff;
							.button-signature{color: #fff; font-size: 12px;

							}
							.arrow{ border-left: 3px solid #fff;
								img{

								}
							}
						}
					}
				}
			}
		}
	}
}

.how-it-works{background: url(/images/how-it-worcks-bg.jpg) center center no-repeat;background-size: cover;padding: 70px;position: relative;
	.slimScrollDiv{overflow: visible !important;}
    .fp-scrollable{overflow: visible !important;}
	.content{height: 100%;width: 100%;background: transparent url(/images/how-it-worcks-image.jpg) center center no-repeat;background-size: cover;position: relative;}
    .wrap{max-width: 1260px;margin:0 auto;display: flex;flex-wrap:wrap;justify-content:space-between;align-items:stretch;height: 100%;padding: 55px 0px;padding: 20px 20px;}
    .item{width: 345px;max-height: 341px;padding: 0px;align-items:stretch;display: flex;justify-content:center; border-radius: 15px; position: relative;
    	.arrow-wrap{position: absolute; bottom: 30px; right: 30px;
    	}
        &:nth-child(1), &:nth-child(2), &:nth-child(3){margin-bottom: 20px;}
        &:nth-child(1){background: url(/images/how-it-worcks-items-bg.png) center center no-repeat;}
        &:nth-child(2){background: url(/images/how-it-worcks-items-bg.png) center center no-repeat;}
        &:nth-child(3){background: url(/images/how-it-worcks-items-bg.png) center center no-repeat;}
        &:nth-child(4){background: url(/images/how-it-worcks-items-bg.png) center center no-repeat;}
        &:nth-child(5){background: url(/images/how-it-worcks-items-bg.png) center center no-repeat;}
        &:nth-child(6){background: url(/images/how-it-worcks-items-bg.png) center center no-repeat;
        	.item-wrap{
        		.item-text{
        			a:first-child{color: #00d7a3;text-decoration: none;}
        			a:last-child{color: #02cc57;text-decoration: none;}
        		}
        	}
        }
		.item-wrap{border-radius: 15px;}
        &:hover{
            .item-wrap{background-color: rgba(5,101,5, .77); cursor: pointer; }
        }
        .item-wrap{width: 100%;display: flex;justify-content:center;align-items:center;transition:all ease .2s;}
        .item-text{padding-left: 35px;padding-right: 0px;color: white;text-transform: uppercase; font-family: 'Ubuntu', sans-serif; font-size: 16px;font-weight: bold;line-height: 24px;cursor: default; white-space: pre-line;min-width: 280px; max-width: 280px;}
    }
}

.sixth-block{
	.conteiner{
		.central-part{ display: flex; justify-content: space-between;padding: 20px 0 0 0; 
			.info-container{ width: calc(100% / 3);padding: 0 0 0 0; max-width: 430px; display: flex; flex-direction: column; justify-content: space-between;
			
				.heding{font-family: 'Ubuntu'; font-size: 20px; font-weight: bold; color: #87ecb1;padding: 10px 0 20px; text-transform: uppercase;
					
				}
				.main-content{font-family: 'Ubuntu'; font-size: 16px; color: #fff; line-height: 1.5;padding: 0px 10px 0 0;  flex: 1;
					
				}
				.bottom-part{font-family: 'Ubuntu'; font-size: 18px; font-weight: bold; color: #fff;text-transform: uppercase; padding: 20px 0 50px 0;
					span{font-size: 30px; color: #87ecb1;}
				}
			}
		}
		.lower-text{
			p{font-family: 'Ubuntu'; font-size: 18px; color: white; line-height: 1.5;}
		}
	}	
}
